
body {
    margin: 0;
    padding: 20px;
    height: 1080px;
    width: 1440px;
    background: #181719;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#header {
    display: flex;
    gap: 40%;
    width: 100%;
}

#logo {
    display: flex;
    padding: 8px 16px; /* Ajusta el valor según sea necesario */
    justify-content: center;
    align-items: center;
    border: solid #fff 1px;
}

#name {
    color: #FFF;
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 18.94px; /* 156.714% */
    text-transform: uppercase;
    margin: 0;
}

#navBar {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.94px; /* 156.714% */
    gap: 86px;
    margin: 0;
}

#navBar a {
    text-decoration: none;
    color: #fff;
}

#navBar > a:first-child {
    border-bottom: 4px solid;
}

#central {
    /* border: solid yellow 3px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 136px; */
    margin: 5% 0 5% 0;
    flex: 1;
}

#leftSection {
    /* border: solid yellow 3px; */
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    /* align-items: center; */
}

#styleDesign {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#title {
    color: #FFF;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 61.44px; /* 128% */
    letter-spacing: -0.48px;
    text-transform: capitalize;
    margin: 0;
    width: 365px;
}

#description {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.26px; /* 121.917% */
    letter-spacing: -0.24px;
    text-transform: capitalize;
    margin: 0;
    width: 310px;
}

#boxRead {
    display: flex;
    gap: 2px;
    align-items: center;
}

#read {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.9px; /* 121.667% */
    letter-spacing: -0.18px;
    text-transform: capitalize;
}

#arrow {
    color: #fff;
    margin: 0;
    width: 80px;
}

#room {
    width: 100%;
    border-radius: 20px 0 20px 0;
    
}

#rightSection {
    /* border: solid purple 3px; */
    position: relative;
    width: 40%;
}

#card {
    /* border: solid white 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 26px;
    width: 60%;
    height: 35%;
    box-sizing: border-box;
    position: absolute;
    gap: 2px;
    bottom: -65px;
    left: 160px;
    border-radius: 0 20px 0 20px;
    background: rgba(24, 23, 25, 0.98);
    box-shadow: 0px 4px 4px 0px rgba(130, 130, 130, 0.10);
}

#card p {
    color: #FFF;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.72px; /* 128% */
    letter-spacing: -0.24px;
    text-transform: capitalize;
    margin: 0;
    width: 60%;
}

#profileImg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#boxCard {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
}

#profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#profileName {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.07px; /* 121.929% */
    text-transform: capitalize;
    margin: 0;
}

#profileRol {
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.63px; /* 121.917% */
    letter-spacing: -0.12px;
    text-transform: capitalize;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h1 {
    color: #A9A9A9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.07px; /* 121.929% */
    letter-spacing: -0.14px;
}

footer a {
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: -0.14px;
    text-decoration-line: underline;
}

